apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: backend
    environment: dev
spec:
  type: NodePort
  selector:
    app: backend
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30001
    protocol: TCP
    name: http
