apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: frontend
    environment: dev
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30002
    protocol: TCP
    name: http
